<h1>Crear Categoria</h1>

<form action="/categorias" method="post">
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" name="name" id="nombre">
        <button type="submit">Guardar</button> 
    </div>
</form> 