<h1>Editar Categoria</h1>

<form action="/categorias/<%= categoria.id %>?_method=PUT" method="post">
    <div class="form__group">
        <label class="form__label" for="nombre">Nombre</label>
        <input 
            class="form__input"
            type="text"  
            name="namegit" 
            id="nombre" 
            value="<%= categoria.nombre %>">
    </div>
    <button type="submit">Guardar</button>
</form> 