<h1>Editar Categoria</h1>

<form action="/categorias" method="post">
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value"<%= categoria.nombre %>">
        <button type="submit">Guardar</button>
    </div>
</form>