<h1>Listado de Categorias</h1>
<a href="/categorias/create">Crear una categoria</a>


<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% categorias.forEach(categoria => { %>
            <tr>
                <td><a href="/categorias/<%= categoria.id %>"><%= categoria.name %></a></td>
                <td>
                    <a href="/categorias/<%= categoria.id %>/edit">Edit</a> |

                    <form 
                    class="form-delete" action="/categorias/<%= categoria.id %>?_method=DELETE" 
                    method="post">
                        <button type="submit">Borrar</button> 
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>

    <script>
        document.addEventListener("submit", (event) => {
            event.preventDefault();

            if(event.target.classList.contains("form-delete")){
                if(confirm("Estas seguro ?")){
                    event.target.submit();
                }
            }
        });
    </script>
</table> 